[submodule "wasm-submodules/network"]
	path = wasm-submodules/network
	url = https://github.com/haskell-wasm/network

[submodule "wasm-submodules/agda"]
	path = wasm-submodules/agda
	url = https://github.com/agda-web/agda
	branch = agda-web/release-v2.8.0
