.cabal-sandbox/
.HTF/
.stack-work/
cabal-dev
dist
dist-*
node_modules/
*.o
*.hi
*.log
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog
cabal.sandbox.config
cabal.project.local
*~


*.agdai