name: Compile WASM

on: [push, pull_request, workflow_dispatch]

env:
  GHC_WASM_META_FLAVOUR: '9.10'
  GHC_WASM_META_COMMIT_HASH: '913a51e58b330f00e3b0ad5b89184cad328ea109'

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        path: als
        submodules: recursive

    - name: Compute cache key
      run: echo "CI_CACHE_KEY=${{ runner.os }}-${{ runner.arch }}-${{ env.GHC_WASM_META_COMMIT_HASH }}-flavor-${{ env.GHC_WASM_META_FLAVOUR }}" >> "$GITHUB_ENV"

    - name: Try to restore cached .ghc-wasm
      id: ghc-wasm-cache-restore
      uses: actions/cache/restore@v4
      with:
        path: ~/.ghc-wasm
        key: ghc-wasm-${{ env.CI_CACHE_KEY }}

    - name: Try to restore cached native cabal
      id: native-cabal-cache-restore
      uses: actions/cache/restore@v4
      with:
        path: ~/.config/cabal
        key: native-cabal-${{ env.CI_CACHE_KEY }}

    - name: Try to restore cached dist-newstyle
      id: dist-newstyle-cache-restore
      uses: actions/cache/restore@v4
      with:
        path: als/dist-newstyle
        key: dist-newstyle-${{ env.CI_CACHE_KEY }}-${{ hashFiles('als/dist-newstyle/**') }}
        restore-keys: |
          dist-newstyle-${{ env.CI_CACHE_KEY }}-

    - name: Clone and setup ghc-wasm-meta
      id: ghc-wasm-setup
      if: steps.ghc-wasm-cache-restore.outputs.cache-matched-key == ''
      run: |
        mkdir ghc-wasm-meta
        cd ghc-wasm-meta
        git config --global init.defaultBranch dontcare
        git config --global advice.detachedHead false
        git init
        git remote add origin https://gitlab.haskell.org/haskell-wasm/ghc-wasm-meta.git
        git fetch origin ${{ env.GHC_WASM_META_COMMIT_HASH }} --depth=1
        git checkout FETCH_HEAD
        FLAVOUR=${{ env.GHC_WASM_META_FLAVOUR }} ./setup.sh

    - name: Add ghc-wasm-meta to PATH
      run: ~/.ghc-wasm/add_to_github_path.sh

    # setup script also updates package store near the end
    - name: Update wasm32 cabal
      if: steps.ghc-wasm-setup.outcome == 'success' || steps.ghc-wasm-setup.outcome == 'skipped'
      run: wasm32-wasi-cabal update

    - name: Install native utilities
      run: |
        echo ">>> Update cabal"
        ~/.ghc-wasm/cabal/bin/cabal update
        echo ">>> Install alex and happy"
        ~/.ghc-wasm/cabal/bin/cabal install alex-3.5.0.0 happy-1.20.1.1

    - name: 'Build dep: lsp-types'
      uses: nick-fields/retry@v3
      id: build-dep-lsp-types
      with:
        timeout_minutes: 10
        max_attempts: 2
        command: cd als && wasm32-wasi-cabal build lib:lsp-types

    - name: 'Build dep: agda'
      id: build-dep-agda
      working-directory: './als'
      run: wasm32-wasi-cabal build lib:agda

    - name: Cache dist-newstyle
      uses: actions/cache/save@v4
      if: steps.build-dep-lsp-types.outcome == 'success' && steps.build-dep-agda.outcome == 'success'
      with:
        path: als/dist-newstyle
        key: dist-newstyle-${{ env.CI_CACHE_KEY }}-${{ hashFiles('als/dist-newstyle/**') }}

    - name: Build every dependency else
      working-directory: './als'
      run: |
        cd wasm-submodules/network
        autoreconf -i
        cd ../..
        wasm32-wasi-cabal build --dependencies-only

    - name: Build als
      working-directory: './als'
      run: |
        mkdir ~/out
        wasm32-wasi-cabal build
        cp $(wasm32-wasi-cabal list-bin als) ~/out

    - name: Clean up cabal logs
      run: rm -rf ~/.config/cabal/logs ~/.ghc-wasm/.cabal/logs

    - name: Cache native cabal
      uses: actions/cache/save@v4
      if: always()
      with:
        path: ~/.config/cabal
        key: ${{ steps.native-cabal-cache-restore.outputs.cache-primary-key }}

    - name: Cache ghc-wasm-meta
      uses: actions/cache/save@v4
      if: always()
      with:
        path: ~/.ghc-wasm
        key: ${{ steps.ghc-wasm-cache-restore.outputs.cache-primary-key }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: als
        path: ~/out
        include-hidden-files: true
